---
import Layout from '../layouts/Layout.astro';

const IMAGES_URL = "https://scrapper-js.fmia.workers.dev/static/logos";
const response = await fetch("https://scrapper-js.fmia.workers.dev/teams")
const teams = await response.json()
---

<Layout title="Welcome to Astro.">
	<header>
		{
			teams.map((team) => {
				return (
					<div>
						<h1>{team.name}</h1>
						<img src={`${IMAGES_URL}${team.image}`} alt={team.name} />
					</div>
				)
			})
		}
	</header>
	<main>
		<h1 class="text-orange-500 text-4xl">Welcome to Astro.</h1>
		<img src="https://kingsleague.pro/wp-content/uploads/2022/12/KL_landscape.svg" alt="">
	</main>
</Layout>

<style>
</style>
